.relative {
    position: relative;
    height: 150px;
    border: 2px solid blue;
}

.absolute {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: lightcoral;
    padding: 10px;
}